:root { 
--black_900:#000000; 
--light_green_500:#80c341; 
--blue_gray_400:#8c8c8c; 
--black_900_7a:#0000007a; 
--light_green_600:#77b43e; 
--blue_gray_500:#74788d; 
--deep_orange_A700:#f21905; 
--blue_gray_700:#505d69; 
--white_A700:#ffffff; 
--gray_300:#e2e2e2; 
--gray_50:#f9fafb; 
--black_900_0d:#0000000d; 
}